@{
    Layout = "_Layout";
}
@using Kursovaya.Models
@model List<PaymentViewModel>
<h1>Платежи</h1>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>MembershipId</th>
                <th>PaymentDate</th>
                <th>PaymentAmount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in Model)
            {
                <tr>
                    <td>@payment.Id</td>
                    <td>@payment.MembershipId</td>
                    <td>@payment.PaymentDate</td>
                    <td>@payment.PaymentAmount</td>
                    <td><a class="btn btn-danger btn-sm" style="margin: 0.2em" asp-action="Delete" asp-route-id="@payment.Id">Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>